* {
  font-family: "JetBrainsMono";
  color: #cdd6f4;
  font-weight: bold;
  font-size: 14px;
}

window {
  background: rgba(12, 0, 20, 0.4);
  border-radius: 15px;
}

#input {
  margin: 1.5em;
  margin-bottom: 0em;
  padding: 1em;
  border: none;
  font-weight: bold;
  background: #11111b;
  color: #c4d3da;
  border-radius: 15px;
}

#input:focus {
  border: 1px solid #90cdfa;
}

#inner-box {
  margin: 1.5em;
  margin-top: 0.5em;
}

#outer-box {
  margin-bottom: 0.5em;
}

#scroll {
  margin-top: 5px 0;
  display: none;
}

#text {
  margin-left: 0.5em;
  color: #ffffff;
}

#text:selected {
  color: #ffffff;
}

#entry {
  padding: 0.5em 1em;
  margin-top: 0.5em;
  border-radius: 15px;
}

#entry:selected {
  background: linear-gradient(
    90deg,
    rgba(205, 214, 244, 0.3),
    rgba(205, 214, 244, 0.6)
  );
  border: 1px solid rgba(255, 255, 255, 0.5);
}
