* {
  font-family: "Fira Code", "Symbols Nerd Font Mono";
  color: #cdd6f4;
  font-weight: bold;
  font-size: 14px;
}

window {
  border: 2px solid #cdd6f4;
  background: #11111b;
  border-radius: 15px;
}

#input {
  margin: 1.5em;
  margin-bottom: 0em;
  padding: 1em;
  border: none;
  font-weight: bold;
  background: #1e2030;
  color: #c4d3da;
  border-radius: 15px;
}

#input:focus {
  border: 1px solid #90cdfa;
}

#inner-box {
  margin: 1.5em;
  margin-top: 0.5em;
}

#outer-box {
  margin-bottom: 0.5em;
}

#scroll {
  margin-top: 5px 0;
  display: none;
}

#text {
  margin-left: 0.5em;
  color: #cdd6f4;
}

#text:selected {
  color: #16161e;
}

#entry {
  margin-top: 0.5em;
  border-radius: 15px;
}

#entry:selected {
  background: linear-gradient(90deg, #90cdfa 0%, #b69bf1 80%);
}
